body {
    background: url("images/bg-items.png") #283640 no-repeat center top;

}

@font-face {
    font-family: 'Hankc';
    font-style: normal;
    font-weight: 400;
    src: url('//cdn.jsdelivr.net/korean-webfonts/1/corps/hani/Hankc/Hankc.woff2') format('woff2'), url('//cdn.jsdelivr.net/korean-webfonts/1/corps/hani/Hankc/Hankc.woff') format('woff');
}
p, li {
    font-size: 1.2rem;
    line-height: 2rem;
}
h2 {
    font-family: 'Hankc', serif !important;
    font-weight: 400;
}

h2.ui.header {
    display: inline-block;
    font-weight: normal;
    border-bottom: 3px solid #333;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
}

iframe {
    margin: auto;
}
.header {
    text-align: center;
}
.header .title {
    padding:8rem 5rem 0 0;
    text-align: center;
}
.header .link a{
    color: #ccc;
    display: inline-block;
    margin: 0 1.5rem;
    padding: 10px 5px;
    font-size: 1.2rem;
    border-bottom:2px solid #283640;
}
.header .link a:hover {
    border-bottom:2px solid #fff;
    color: #fff;
}

.ui.grid.segment {
    padding: 5rem 2rem;
}

.line {
    border-top: 2px dashed #283640;
    width: 100%;
    margin: 6rem 0;
}

/*
.ui.simple.segment {
    background-color: #222;
    border: 0;
    margin: 0 0 -14px 0;
    border-bottom: 1px dashed #555;
    font-size: 1.3rem !important;
    padding-bottom: 0;
}

.ui.simple.segment .small{
    font-size: 1.1rem !important;
}



.ui.simple.segment ol, .ui.simple.segment ul{
    padding-left: 1.3rem;
    line-height: 1.4;
    margin:0;
}

@media only screen and (min-width: 992px) {
    .ui.segment {
        padding: 6rem;
        border-radius: 0.2rem;
    }
    .title{
        background-image: url(images/title.png);
        background-size: 920px 185px;
    }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
    .ui.segment {
        padding: 4rem;
    }
}

@media only screen and (max-width: 767px) {
    .ui.simple.segment {
        padding: 2rem;
        padding-top: 3rem;
        font-size: 1.2rem !important;
    }

    .ui.simple.segment.first {
        padding-top:4rem;
    }

    .title{
        background-size:250px;
        background-position-y: 2rem;
    }


    .ui.container {
        margin-left: 0 !important;
        margin-right: 0 !important;
        margin-top:0;
    }
}

.icons {
    margin: auto 0;
    text-align: center;
    padding-left: 0 !important;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.icons li {
    display: inline-block;
    font-size: 1.5rem;
    margin: 1.5rem;
}






.icons a {
    color: white;
    text-decoration: none;
}
*/
.mov {
    width: 640px;
    margin: 3rem auto 0 auto;
}


img.illustrate {
    max-width: 300px;
}

.illustrate #graph {
    width: 500px;
}

.infographic {
    text-align: center;
}

.infographic img {
    margin-top: 2rem;
    max-width: 90%;
}

.video-container-root {
    max-width: 640px;
    margin: 10rem auto;
}

.video-container {
    max-width: 640px;
    padding-top: 56.25%; /* 1:1 Aspect Ratio */
    position: relative; /* If you want text inside of it */
}


.video-container iframe {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@media only screen and (max-width: 516px) {
    .icons li {
        margin: 0.2rem;
        font-size: 1.2rem;
    }
}